// {
//     "presets": ["react-app"],
//     "plugins": ["@babel/plugin-proposal-private-property-in-object"]
//   }
{
  "plugins": [
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
]
}