/* General navbar styling */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgba(12, 3, 37, 0.9); 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
  box-shadow: 0 2px 5px rgba(237, 229, 229, 0.2); 
  height: 73px;
}

/* Logo container styling */
.logo-container {
  display: flex;
  align-items: center;
}

/* Circular image styling */
.circular-img {
  border-radius: 50%;
  width: 53px; /* Adjust the size as necessary */
  height: auto;
  padding: 3px;
  margin-right: 0.8vw; /* Add some space between the image and the text */
  margin-left: 1.2vw;
}

/* Logo text styling */
.logoimg {
  font-size: 2.2em;
  color: rgb(255, 255, 255);
  justify-content: center;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
}

/* Navigation links container styling */
.nav-links {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: font-weight 0.3s, border-bottom 0.3s;
}

.nav-link {
  margin-right: 2vw;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Logout button styling */
.logout {
  height: 37px;
  width: 9vw;
  color: rgb(1, 6, 62);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 0 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1vw;
}

.logout:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: #ffffff;
}

/* Toggle button styling */
.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggle-button div {
  width: 100%;
  height: 3px;
  background-color: white;
}

/* Sidebar menu styling */
.sidebar_menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  max-width: 250px;
  background-color: rgba(51, 55, 78, 0.8);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px; /* Space for header */
}

.sidebar_menu.active {
  right: 0;
}

.sidebar_menu a,
.sidebar_menu .logout {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  padding: 15px 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Line separator */
  text-align: left; /* Left align items */
  background-color: transparent;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.sidebar_menu a:hover,
.sidebar_menu .logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 1024px) {
  
  .logout:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #ffffff;
  }
  .circular-img {
    border-radius: 50%;
    width: 45px; /* Adjust the size as necessary */
    height: auto;
    padding: 3px;
    margin-right: 0.8vw; /* Add some space between the image and the text */
    margin-left: 1.2vw;
  }
  .logoimg{
    font-size: 1.9em;
  }
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    margin-right: 2.5vw;
  }

  .nav-links {
    display: none;
  }
  .logoimg{
    font-size: 1.5em;
  }
}