body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.maincontainer {
    padding: 30px;
    flex-direction: column;
    border: 2px solid rgba(245, 245, 245, 0.3);
    color: white;
    background: transparent; /* Semi-transparent background */
    backdrop-filter: blur(2vh);
    border-radius: 10px; /* Optional: Adds rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    max-width: 400px;
}
.formcontrol {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: #333333;
    padding: 0 20px;
    outline: none;
}
.formgroup {
    margin-bottom: 10px;
}
.formgroup input{
    background-color: white;
}
.formgroup label {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}
.formgroup {
    margin-left: 1.5vh;
}



.buton {
    width: 70%;
    height: 45px;
    background-color: #007bff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-right: 8vh;
    justify-self: center;
    margin-top: 0px;;
}

.buton {
    background-color: #007bff;
}

.buton:hover {
    background-color: #0056b3;
}
@media (max-width: 992px) {
    .maincontainer {
        width: 350px;
        padding: 15px;
    }
    h1 {
        font-size: 1.4em;
    }
    button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}

/* For screens with a max-width of 768px */
@media (max-width: 768px) {
    .maincontainer {
        width: 90%;
        padding: 10px;
       margin-left: 15px;
       margin-right: 5px;
    }
    h1 {
        font-size: 1em;
    }
    button[type="submit"] {
        font-size: 13px;
        padding: 7px;
    }
    .buton{
        margin-left: 22%;
    }
}